
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
</head>
</html>
<div class="container-fluid">
    <table id="BlogList" class="table table-striped table-bordered BlogList" style="width:100%">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Content</th>
            <th>Date Created</th>
            <th>Date Updated</th>
            <th>User</th>
            <th colspan="2">Action</th>
        </tr>

        </thead>
        <tbody>
        <% for (var i = 0; i < blogposts.length;i++) { %>
            <tr>
                <td><%= blogposts[i]._id%></td>
                <td><%= blogposts[i].postTitle%></td>
                <td><%- blogposts[i].postBody.substring(0,50)%></td>
                <td><%= blogposts[i].datePosted.toDateString()%></td>
                <td><%= blogposts[i].updatedAt.toDateString()%></td>
                <td><%= blogposts[i].userid.username%></td>
                <td>
                    <a class="btn btn-sm btn-primary">Update</a>
                    <a class="btn btn-sm btn-primary"> Delete </a>
                </td>
            </tr>
        <%}%>
        </tbody>
        <tfoot>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>
            <th colspan="2">Action</th>
        </tr>
        </tfoot>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>

<script>
    $(document).ready(function() {
        $("#BlogList").DataTable();
    });
</script>