<%- include('../partials/header'); %>

<%- include('../partials/top_fixed_header'); %>

<%- include('../partials/page_title'); %>

<div class="form" id="loginModel" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content rounded-0 border-0 p-4">
            <h3><%=title%></h3>
            <div class="form">
                <form action="/about/store" method="POST" class="row" enctype="multipart/form-data">
                    <div class="col-12">
                        <input type="text" class="form-control mb-3" id="title" name="title"
                               placeholder="Title" required>
                    </div>
                    <div class="col-12">
                        <textarea cols="5" rows="7" class="form-control mb-3" id="body" name="body"
                                  placeholder="Body" required></textarea>
                        <script>
                            $("#body").summernote({
                                tabsize:2,
                                height:300
                            });
                        </script>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer'); %>
