<%- include('../partials/header'); %>

<%- include('../partials/top_fixed_header'); %>

<%- include('../partials/page_title'); %>

<!-- section -->
<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <!-- course thumb -->
<!--                <img src="/images/courses/course-single.jpg" class="img-fluid w-100">-->
            </div>
        </div>

        <!-- course info -->
        <div class="row align-items-center mb-5">
            <div class="col-xl-3 order-1 col-sm-6 mb-4 mb-xl-0">
                <h2><%=course.name%></h2>
            </div>
            <div class="col-xl-6 order-sm-3 order-xl-2 col-12 order-2">
                <ul class="list-inline text-xl-center">
                    <li class="list-inline-item mr-4 mb-3 mb-sm-0">
                        <div class="d-flex align-items-center">
                            <i class="text-primary icon-md mr-2"></i>
                            <div class="text-left">
                                <h6 class="mb-0">No. Of Semester</h6>
                                <p class="mb-0"><%-course.totalSemester%></p>
                            </div>
                        </div>
                    </li>
                    <li class="list-inline-item mr-4 mb-3 mb-sm-0">
                        <div class="d-flex align-items-center">
                            <i class=" text-primary icon-md mr-2"></i>
                            <div class="text-left">
                                <h6 class="mb-0">DURATION</h6>
                                <p class="mb-0"><%-course.courseDuration%></p>
                            </div>
                        </div>
                    </li>
                    <li class="list-inline-item mr-4 mb-3 mb-sm-0">
                        <div class="d-flex align-items-center">
                            <i class="text-primary icon-md mr-2"></i>
                            <div class="text-left">
                                <h6 class="mb-0">University</h6>
                                <p class="mb-0">  <%-course.universityAffiliation%></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- border -->
            <div class="col-12 mt-4 order-4">
                <div class="border-bottom border-primary"></div>
            </div>
        </div>
        <!-- course details -->
        <div class="row">
            <%-course.description%>

            <div class="col-12 mb-4">

            </div>
        </div>
    </div>
</section>
<!-- /section -->

<%- include('../partials/footer'); %>